:root {
  --color-primary-dark: hsl(265, 70%, 30%);
  --color-primary-light: hsl(265, 70%, 60%);
  --color-negative: hsl(0, 80%, 50%);
  --color-positive: hsl(125, 80%, 45%);
  --color-bg-body: hsl(250, 0%, 95%);
  --color-bg-cards: hsl(0, 0%, 100%);
  --color-bg-modal: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg-body);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.navegation {
  background: var(--color-primary-dark);
  padding: 2rem 0 13rem;
  text-align: center;
}

.container {
  width: min(90vw, 1334px);
  margin: 0 auto;
}

.balances {
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.main-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-primary-dark);
}

.card-item {
  background: var(--color-bg-cards);
  color: var(--color-primary-dark);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item.-purble {
  color: var(--color-bg-cards);
  background: var(--color-primary-light);
}

.card-value {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.transactions {
  display: block;
  overflow-x: auto;
}

.datatable {
  width: 100%;
  font-size: 1.6rem;
  border-spacing: 0 0.5rem;
}

.datatable thead th,
.datatable tbody td {
  background: var(--color-bg-cards);
  text-align: left;
  padding: 1rem 2rem;
}

.datatable-title:first-child {
  border-radius: 0.5rem 0 0 0;
}

.datatable-title:last-child {
  border-radius: 0 0.5rem 0 0;
}

.datatable tbody tr {
  opacity: 0.7;
}

.datatable tbody tr:hover {
  opacity: 1;
}

.datatable-description {
  color: var(--color-primary-dark);
  font-weight: 500;
}

.datatable-expense {
  color: var(--color-negative);
}

.datatable-income {
  color: var(--color-positive);
}

.datatable-date {
  color: var(--color-primary-dark);
}

.datatable-icon:hover{
  cursor: pointer;
}


.button {
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  color: var(--color-primary-light);
  border-radius: 0.5rem;
}

.button.-plus:hover {
  cursor: pointer;
  opacity: 0.4;
}

.button.-plus::before {
  content: '+';
  margin-right: 0.5rem;
}

.button.-send,
.button.-cancel {
  padding: 1rem;
  width: 48%;
}

.button.-cancel {
  text-align: center;
  border: 1px solid var(--color-bg-body);
  color: var(--color-negative);
}

.button.-cancel:hover {
  border: 1px solid var(--color-negative);
}

.button.-send {
  height: 4.7rem;
  border: none;
  color: var(--color-bg-cards);
  background: var(--color-primary-dark);
}

.button.-send:hover {
  cursor: pointer;
  background: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background: var(--color-bg-modal);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.-active {
  opacity: 1;
  visibility: visible;
}

.modal-card {
  background-color: var(--color-bg-body);
  padding: 3.2rem;
  position: relative;
  z-index: 1;
}

.form {
  max-width: 500px;
}

.wrapper-input {
  margin-top: 0.8rem;
}

.form-input {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

.help {
  font-size: 1rem;
  opacity: 0.4;
}

.wrapper-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 800px) {
  html {
    font-size: 54.8%;
  }

  .balances {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
