:root {
  --color-primary-dark: hsl(265, 70%, 35%);
  --color-primary-light: hsl(265, 95%, 65%);
  --color-negative: hsl(0, 80%, 50%);
  --color-positive: hsl(125, 80%, 45%);
  --color-bg-body: hsl(250, 0%, 95%);
  --color-bg-cards: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg-body);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.navegation {
  background: var(--color-primary-dark);
  padding: 2rem 0 13rem;
  text-align: center;
}

.container {
  width: min(90vw, 1334px);
  margin: 0 auto;
}

.balances {
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.main-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-primary-dark);
}

.card-item {
  background: var(--color-bg-cards);
  color: var(--color-primary-dark);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item.-purble {
  color: var(--color-bg-cards);
  background: var(--color-primary-light);
}

.card-value {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.datatable {
  width: 100%;
  font-size: 1.6rem;
  border-spacing: 0 0.5rem;
}

.datatable thead th,
.datatable tbody td {
  background: var(--color-bg-cards);
  text-align: left;
  padding: 1rem 2rem;
}

.datatable-title:first-child {
  border-radius: .5rem 0 0 0;
}

.datatable-title:last-child{
  border-radius: 0 .5rem 0 0;
}

.datatable tbody tr {
  opacity: 0.7;
}

.datatable tbody tr:hover {
  opacity: 1;
}

.datatable-description {
  color: var(--color-primary-dark);
  font-weight: 500;
}

.datatable-expense {
  color: var(--color-negative);
}

.datatable-income {
  color: var(--color-positive);
}

.datatable-date {
  color: var(--color-primary-dark);
}

.button{
  display: inline-block;
  margin-bottom: .8rem;
  font-size: 1.6rem;
  color: var(--color-primary-light)
}

.button:hover{
  color: var(--color-primary-dark);
}

.button::before{
  content: '+';
  margin-right: .5rem;
}