:root {
  --color-purble-dark: hsl(265, 70%, 35%);
  --color-purble-light: hsl(265, 95%, 65%);
  --color-negative: hsl(0, 80%, 50%);
  --color-positive: hsl(125, 80%, 45%);
  --color-gray: hsl(250, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background: var(--color-gray);
}

.navegation {
  background: var(--color-purble-dark);
  padding: 2rem 0 12rem;
  text-align: center;
}

.logo {
  color: var(--color-white);
  font-size: 3.2rem;
}

.container {
  width: min(90vw, 1334px);
  margin: 0 auto;
}

.balances {
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.main-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-white);
}

.main-title.-second {
  color: var(--color-purble-dark);
}

.card-item {
  background: var(--color-white);
  color: var(--color-purble-dark);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.card-item.-purble {
  color: var(--color-white);
  background: var(--color-purble-light);
}

.card-value {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.datatable {
  width: 100%;
  font-size: 1.6rem;
  border-spacing: 0 0.5rem;
}

.datatable thead th,
.datatable tbody td {
  background: var(--color-white);
  text-align: left;
  padding: 1rem 2rem;
}

.datatable-title{
  border-radius: 0.5rem 0.5rem 0 0;
}

.datatable tbody tr {
  opacity: 0.7;
}

.datatable tbody tr:hover {
  opacity: 1;
}

.datatable-description {
  color: var(--color-purble-dark);
  font-weight: 500;
}

.datatable-expense {
  color: var(--color-negative);
}

.datatable-income {
  color: var(--color-positive);
}

.datatable-date{
  color: var(--color-purble-dark)
}